{% extends 'layout.html'%}

{% block content %}
<form action="/register" method="post">

  <input type="text" name="username" placeholder="Username" required>
  <input type="password" id="register-password" name="password" placeholder="Password" required>
  <input type="password" id="register-password-confirm" name="confirm-password" placeholder="Confirm password" required>

  <button type="submit">Submit</button>
</form>
<script src="/static/js/register.js" type='module'></script>
{% endblock %}
